/* DEFAULT STYLES */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}


.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border-style: none;
}

.para-style {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.first-heading-style {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}


/* HEADER BANNER */


header {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 240px;
    margin-bottom: 128px;
}

.banner-content h1 {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 708px;
}

.banner-content p {
    margin: 32px 0px;
    width: 634px;
}


.banner-flower {
    width: 635px;
    margin-top: 50px;
}


/* MAIN */


/* FEATURED FLOWERS */


.featured-section {
    padding: 0px 240px;
    margin-bottom: 128px;
}

.featured-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-intro p {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
    width: 594px;
}

.flower-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flower-box-1 {
    background-color: #f2dee8;
    border-color: #f2dee8;
    border-width: 100px 76px 0px 76px;
    border-style: solid;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.flower-box-2 {
    background-color: #daf0f1;
    border-color: #daf0f1;
    border-width: 100px 76px 0px 76px;
    border-style: solid;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.flower-box-3 {
    background-color: #e4ecdb;
    border-color: #e4ecdb;
    border-width: 100px 76px 0px 76px;
    border-style: solid;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.flower-box-1 img {
    margin-bottom: -3px;
    width: 310px;
}

.flower-box-2 img {
    margin-top: 37px;
    margin-bottom: 78px;
    width: 310px;
}

.flower-box-3 img {
    margin-top: -37px;
    margin-bottom: -3px;
    width: 310px;
}

.featured-flower-text {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 32px;
}


/* TESTIMONIALS */


.test-section {
    padding: 50px 240px;
    margin-bottom: 128px;
    background-color: rgba(229, 84, 115, 0.10);
}

.test-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.test-intro p {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
    width: 594px;
}

.review-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.review-box {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin: 0px 15px 15px 15px;
}

.review-box h1 {
    font-size: 22px;
    margin-bottom: 15px;
}




/* SERVICES SECTION */

.services-section {
    padding: 0px 240px;
    margin-bottom: 128px;
}

.services-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 86px 110px;
}


.service-box {
    text-align: center;
}

.service-box p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    margin-top: 24px;

}


/* HOT DEALS SECTION */


.deal-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 0px 240px;
    margin-bottom: 128px;
}

.deal-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.deal-container {
    text-align: center;
}

#deal-off {
    color: #E55473;
}

.deal-text p {
    margin-top: 24px;
    margin-bottom: 32px;
    width: 594px;
}

.deal-test button {
    padding: 20px 43px;
}

.deal-flower-img {
    width: 318px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* INSTAGRAM SECTION */

.insta-section {
    padding: 0px 240px;
    margin-bottom: 128px;
}

.insta-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.insta-section h1 {
    text-align: center;
}

.insta-section p {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
    width: 594px;
}

.insta-flower-container {
    display: flex;
    justify-content: space-between;
}

.insta-flower-container img {
    width: 342px;
}


/* LATEST DEAL SECTION */

.latestdeal-section {
    padding: 0px 240px;
    margin-bottom: 128px;
}

.latestdeal-banner {
    background-image: url("../Flower\ Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 449px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.latestdeal-banner h1 {
    text-align: center;
    margin-top: 122px;
}

.latestdeal-banner p {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 48px;
}

.latestdeal-banner input {
    width: 700px;
    padding: 23px 0px 23px 23px;
    border-radius: 8px;
    background: #FFF;
    flex-shrink: 0;
    margin-bottom: 121px;
    margin-right: 16px;
    border-style: none;
}

.latestdeal-banner input::placeholder {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* FOOTER */


footer {
    background: #111010;
    padding: 128px 0px;
}

.copyright-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer h1 {
    color: #E55473;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

footer h1 span {
    color: #FFFFFF;
}

footer p {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 32px;
    width: 625px;
}

#copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}